body {
  	/*height: 100%; 
	background: url(../images/low_poly_background.jpg) center center no-repeat; 
	-webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover;
	background-size: cover; background-attachment: fixed;*/
    font-family: Montserrat;
    /*padding-top: 30px;*/
    background-color: #f0f0f0;

}

.containerpadding{
  padding-top: 100px;
}

.logged{
  padding-top: 50px;
}

.captionbg{
  padding: 1px 10px 15px 10px;
  background-color: #B266FF;
  /*background-color: #3498db;*/
  border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  border: 0px solid #000000;
  color: #fff;
}

.footer {
  /*position: absolute;*/
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  /*background-color: #3498db;*/
}

.footer .container p{
	margin-top: 10.5px;
}

.placeholder
{
  color: #aaa;
}


.btn-info {
    color: #ffffff !important; 
    background-color: #6666FF !important;
    border-color: #6666FF !important;
}

.navbar-default {
    background-color: #B266FF !important;
}

.panel-info>.panel-heading {
    color: #ffffff;
    background-color: #B266FF;
    border-color: #B266FF;
}

.panel-info {
    border-color: #B266FF;
}body {
  	/*height: 100%; 
	background: url(../images/low_poly_background.jpg) center center no-repeat; 
	-webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover;
	background-size: cover; background-attachment: fixed;*/
    font-family: Montserrat;
    /*padding-top: 30px;*/
    background-color: #f0f0f0;

}

.containerpadding{
  padding-top: 100px;
}

.logged{
  padding-top: 50px;
}

.captionbg{
  padding: 1px 10px 15px 10px;
  background-color: #2F4F4F;
  /*background-color: #3498db;*/
  border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  border: 0px solid #000000;
  color: #fff;
}

.footer {
  /*position: absolute;*/
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  /*background-color: #3498db;*/
}

.footer .container p{
	margin-top: 10.5px;
}

.placeholder
{
  color: #aaa;
}


.btn-info {
    color: #ffffff !important; 
    background-color: #6666FF !important;
    border-color: #6666FF !important;
}

.navbar-default {
    background-color: #2F4F4F !important;
}

.panel-info>.panel-heading {
    color: #ffffff;
    background-color: #B266FF;
    border-color: #B266FF;
}

.panel-info {
    border-color: #B266FF;
}